@import "../../App.css";

/* .food-item {
  margin-bottom: 1em;
  padding: 1em;
  display: grid;
  grid-template-columns: 150px 40% 40%;
  grid-template-rows: 50% 50%;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

 
}

.image {
  vertical-align: middle;
  grid-column-start: 1;
}

.name {
  grid-column-start: 2;
}

.description {
  grid-column-start: 2;
  grid-row-start: 2;
} */
