@import "../../App.scss";

.navbar {
  display: flex;
  align-items: center;
  height: 50px;
  background: $primary;
  border: 1px solid gray;
  border-radius: 3px;

  &-nav-list {
    display: flex;

    &-item {
      margin: 0 0.5em;
    }

    &-link {
      text-decoration: none;
      color: white;

      &-:visited {
        color: white;
      }
    }
  }
}
