body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dinner-ideas {
  height: 100vh;
}

.app {
  margin: 1em;
}

svg {
  height: 20px;
  color: white;
}

/* amplify custom styles */
.amplify-flex button {
  background-color: #e3d8b4;
  color: #000;
}

.amplify-flex button:hover {
  background-color: #d1c6a5;
  color: #000;
}
