.dinner-item-form-editor {
    display: flex;
    flex-direction: column;
    margin: auto 3em;

    .dinner-item-times {
        display: flex;
        flex-direction: row;
    }

    .dinner-item-total-times {
        .total {
            border: none;
            pointer-events: none;
            padding: 0.5em;
            padding-left: 1em;
        }
    }

    .dinner-item-number-input {
        padding-right: 1em;
    }
}

.dinner-item-text-input {
    width: 100%;
}

.dinner-item-form-field {
    margin-top: 2em;

    .p-multiselect {
        width: 40em;
    }

    .p-multiselect[readonly] {
        border: 0;

        .p-multiselect-trigger {
            display: none;
        }
    }
}

.dinner-item-form-buttons {
    display: flex;
    flex-direction: row-reverse;
    padding: 1em;
}

input[readonly],
textarea[readonly] {
  border: none;             /* Removes the border */
  outline: none;            /* Prevents focus outline */
  background-color: transparent; /* Optional: Makes background transparent */
  color: #333;              /* Optional: Set text color */
  cursor: default;          /* Changes cursor to indicate non-editable */
  pointer-events: none;     /* Prevents focus and user interactions */
  resize: none;
}