.dinner-item-form-editor {
    display: flex;
    flex-direction: column;
    margin: auto 3em;

    .dinner-item-times {
        display: flex;
        flex-direction: row;
    }

    .dinner-item-total-times {
        .total {
            border: none;
            pointer-events: none;
            padding: 0.5em;
            padding-left: 1em;
        }
    }

    .dinner-item-number-input {
        padding-right: 1em;
    }
}

.dinner-item-text-input {
    width: 100%;
}

.dinner-item-form-field {
    margin-top: 2em;

    .p-multiselect {
        width: 40em;
    }
}

.dinner-item-form-buttons {
    display: flex;
    flex-direction: row-reverse;
    padding: 1em;
}