.dinner-item-step {
    display: flex;

}

.dinner-item-fields {
    flex-grow: 2;
}

.remove-button {
    z-index: 69;
    width: 2em;
    height: 2em;
}

.dinner-item-delete-action {
    display: flex;
    align-items: center;
    padding: 1em;
}