.dinner-list-item {
    margin: 1em;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 2em;  

    
    .p-card {
        border-radius: 2em;  
    }

    .p-card-body {
        padding: 1rem;
    }

    img {
        border-radius: 2em 2em 0 0;
    }
}

.dinner-list-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0);
    border-radius: 2em;  
    cursor: pointer;
}